* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: [promo-start] 2rem [promo-end nav-start] 5rem [nav-end header-start] 90vh [header-end feature1-start] 105vh [feature1-end gallery-start] 100vh [gallery-end];
  grid-template-columns: repeat(12, 1fr); }

.promo {
  background-color: #222;
  grid-column: 1 /-1;
  display: flex; }

.header-left {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  background-color: #000;
  background-blend-mode: multiply;
  overflow: hidden; }
  .header-left__wrapper {
    height: 100%;
    background-image: url(../img/hero-1.jpg);
    background-size: cover;
    transition: all .3s;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, max-content);
    align-items: flex-end; }
    .header-left__wrapper:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero-1.jpg);
      transform: scale(1.03); }
  .header-left__text-box {
    grid-row: 2 / 3;
    margin-left: 5rem; }
    .header-left__text-box .heading-tag {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: .5rem; }
    .header-left__text-box .heading-secondary {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 900; }

.header-right {
  grid-column: 7 / -1;
  background-color: #000;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr); }
  .header-right--1__wrapper {
    grid-column: 1 / -1;
    overflow: hidden; }
  .header-right--1__background {
    background-image: url(../img/hero-3.jpg);
    transition: all .3s;
    background-size: cover;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, max-content);
    align-items: flex-end; }
    .header-right--1__background:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero-3.jpg);
      transform: scale(1.03); }
  .header-right--1__text-box {
    grid-row: 2 / 3;
    display: inline;
    margin-left: 5rem; }
    .header-right--1__text-box .heading-tag {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: .5rem; }
    .header-right--1__text-box .heading-secondary {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 900; }
  .header-right--2__wrapper {
    grid-column: 1 / 2;
    overflow: hidden; }
  .header-right--2__background {
    background-image: url(../img/hero-2.jpg);
    transition: all .3s;
    background-size: cover;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, max-content);
    align-items: flex-end; }
    .header-right--2__background:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero-2.jpg);
      transform: scale(1.03); }
  .header-right--2__text-box {
    grid-row: 2 / 3;
    margin-left: 5rem; }
    .header-right--2__text-box .heading-tag {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: .5rem; }
    .header-right--2__text-box .heading-secondary {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 900; }
  .header-right--3__wrapper {
    grid-column: 2 / -1;
    overflow: hidden; }
  .header-right--3__background {
    background-image: url(../img/hero-4.jpg);
    transition: all .3s;
    background-size: cover;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, max-content);
    align-items: flex-end; }
    .header-right--3__background:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero-4.jpg);
      transform: scale(1.03); }
  .header-right--3__text-box {
    grid-row: 2 / 3;
    margin-left: 5rem; }
    .header-right--3__text-box .heading-tag {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: .5rem; }
    .header-right--3__text-box .heading-secondary {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 900; }

.nav {
  grid-column: 1 /-1;
  background-color: #fff; }
  .nav__wrapper {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .nav__logo {
    height: 185px;
    display: flex;
    align-items: center; }
    .nav__logo .logo {
      width: 40%; }
  .nav__list {
    display: flex;
    list-style: none;
    margin-left: auto; }
  .nav__item {
    padding: 0 20px; }
  .nav__link {
    text-decoration: none;
    color: #222;
    font-size: .8rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: all .3s; }
    .nav__link span {
      text-transform: none; }
    .nav__link:hover {
      color: #888; }
  .nav__icon-box {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5%; }
    .nav__icon-box .icon-search {
      width: 25px;
      transition: all .3s;
      fill: #888; }
      .nav__icon-box .icon-search:hover {
        transform: rotate(-20deg);
        fill: #222; }
    .nav__icon-box .icon-cart {
      width: 25px;
      transition: all .3s;
      fill: #888; }
      .nav__icon-box .icon-cart:hover {
        transform: translateX(7px);
        fill: #222; }

.promo__text {
  font-size: .8rem;
  font-weight: 700;
  color: #fff;
  margin: 7px auto; }

.feature-1 {
  grid-row: 4 / 5;
  overflow: hidden;
  grid-column: 1 / -1;
  background-color: #000000; }
  .feature-1__wrapper {
    background-image: url(../img/feature-1img.jpg);
    height: 100%;
    background-size: cover;
    transition: all .3s;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: flex-end; }
    .feature-1__wrapper:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../img/feature-1img.jpg);
      transform: scale(1.03); }
  .feature-1__heading {
    grid-row: 1 / 2;
    margin-left: 8rem;
    z-index: 100;
    text-transform: uppercase;
    font-size: 7rem; }

.gallery {
  grid-row: gallery-start / gallery-end;
  background-color: white;
  grid-column: 1 / -1;
  grid-gap: 2px;
  padding: 2px 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  .gallery .contact-email {
    grid-row: 1 /2;
    grid-column: 1/ -1;
    background-color: #ffff;
    padding: 10px 0px 15px;
    color: #252a2b;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700; }
  .gallery .gallery-end {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: #ffff;
    padding: 1rem; }
  .gallery__item--8 {
    grid-row: 2 /3;
    grid-column: 1 /2; }
  .gallery__item--2 {
    grid-row: 2 /3;
    grid-column: 2 /3; }
  .gallery__item--5 {
    grid-row: 2 /3;
    grid-column: 3 /4; }
  .gallery__item--6 {
    grid-row: 2 / 3;
    grid-column: 4 /5; }
  .gallery__item--3 {
    grid-row: 3 /4;
    grid-column: 1 /2; }
  .gallery__item--4 {
    grid-column: 2 /3;
    grid-row: 3 / 4; }
  .gallery__item--7 {
    grid-column: 3 /4;
    grid-row: 3 / 4; }
  .gallery__item--1 {
    grid-column: 4 /5;
    grid-row: 3 / 4; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
